
header {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 2rem;
    background-color: rgb(185, 185, 185);
}

.logo{
  max-width: 8rem;
}
.lista {
  list-style: none; 
  display: flex;
  gap: 1rem;
  
  
}
.navegador li a {
  text-decoration: none;
  color:white;
  font-size: 1rem;
  text-transform: uppercase;
}
.navegador li a:hover{
  color: rgb(0, 0, 0);
  transition: ease 0.3s;
}
.menu,
.cierre{
  display: none;
  color: #cecece;

}
svg{
  color: rgb(5, 189, 5);
  width: 60px;
  filter: drop-shadow(0 1px 4px rgba(32, 252, 12, ));
  
}
#whatsapp {
  position: fixed;
  bottom: 20px;
  right:20px;
  text-decoration: none;
  color: chartreuse;
}
.footer {
  background-color: #333;
  color: #fff;
  padding-top:   20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.footer .logo {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.footer .logo img {
  max-width: 150px;
}


.footer .info {
  flex: 2;
  text-align: center;
  margin: 20px 0;
  padding:30px 50px;
}

.footer .contact {
  flex: 1;
  text-align: center;
}

.footer p, .footer h4 {
  margin: 5px 0;
}
.copyright-footer{
  height: 100%;
  display: block;
  text-align: center;
  background-color:#333;
  color: white;
  padding: 0;
 
}
form{
  padding: 50px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 30px;
  width: 400px;
  margin: 100px auto;
}
.input-group{
  display: flex;
  flex-direction: column;
  text-align: left;
  
}
.tit-form{
  color: #283629;
  font-size: 35px;
}
label{
  color: #283629;
  font-size: 15pxpx;
  font-weight: 500;
  margin-bottom: 5px;
}

input, textarea{
  padding: 17px 25px;
  margin-bottom: 5px;
  background-color: #EDFFF0;
  border: solid gray 0.5px;
  border-radius: 30px !important;
  color:black;
  outline: none;
}
.btn{
  background-color:#EDFFF0;
  font-size: 20px;
  box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
  cursor: pointer;
  border: 1px;
  background-color: #51d94c;
}
.btn:hover{
  background-color: chartreuse;
}

input::placeholder{
  color: #b5cae6;

}

.form-txt{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.form-txt a {
  color:rgb(67, 67, 158);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .menu, .cierre {
    display: block;
    border: 0;
    font-size: 1.3rem;
    background-color: transparent;
    cursor: pointer;

  }
  .navegador { 
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .6);
  }
  
  
  .navegador.visible{
    opacity: 1;
    visibility: visible;
  }
  .lista {
    flex-direction: column;
    align-items: end;
  }
  .footer .logo, .footer .info, .footer .contact {
    flex: 100%;
    text-align: center;
}
}



